html {
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
    font-size: 16px;
}

h1, h2, p {
    color: white;
}

/*Main Section*/

h1 {
    font-size: 3.125rem;
    font-weight: normal;
}

video {
    display: block;
    margin: 20px auto;
}

.link {
    color: aquamarine;
    text-decoration: underline;
}

/* Supporting Sections */

h2 {
    font-size: 2.625rem;
    font-weight: 300;
}

p {
    font-size: 1.3125rem;
    color: gray;
}

.icon {
    display: block;
    margin: 15px auto;
}

/*Footer*/

footer {
    text-align: right;
    margin-top: 15px;
}